@model List<ResultFeatureDto>

@{
    ViewData["Title"] = "FeatureList";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}

<div class="col-12 col-md-12 col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="section-title">Özellikler</div>
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Başlık</th>
                            <th scope="col">AltBaşlık</th>
                            <th scope="col">Açıklama</th>
                            <th scope="col">VideoUrl</th>
                            <th scope="col">ImageUrl</th>
                            <th scope="col">Sil</th>
                            <th scope="col">Güncele</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.SubTitle</td>
                                <td>@item.Description</td>
                                <td>@item.VideoUrl</td>
                                <td>@item.ImageUrl</td>
                                <td><a asp-controller="Admin" asp-action="DeleteFeature" asp-route-id="@item.FeatureId" class="btn btn-danger btn-sm">Sil</a></td>
                                <td><a asp-controller="Admin" asp-action="EditFeature" asp-route-id="@item.FeatureId" class="btn btn-success btn-sm">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a asp-controller="Admin" asp-action="CreateFeature" class="btn btn-primary btn-sm">Ekle</a>
            </div>
        </div>
    </div>
</div>

